body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}
.container {
  background-color: #fff;
  min-height: 100vh;
}
.form-control.ng-touched.ng-invalid {
  border: 1px solid #f00;
}
.list-shapes-wrapper {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-shapes-wrapper .list-shapes:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.row {
}
