body {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
}
.list-shapes-wrapper {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-shapes-wrapper .list-shapes:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
h1 {
  font-size: 3 rem !important;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 2rem;
    min-height: 720px;
    width: 1200px;
  }
}
